<div>
  <h1 id="app">
    <div id="section-image">
      <ui-section id="section-image-import" class="config" header="i18n:image_compress.image_compress_window.section.import_images" expand>
        <div id="image-list"></div>
        <div id="image-button">
          <ui-button id="btn-add-image"></ui-button>
          <ui-button id="btn-image-submit"></ui-button>
        </div>
      </ui-section>
    </div>
    <div id="section-folder">
      <ui-section id="section-folder-import" class="config" header="i18n:image_compress.image_compress_window.section.import_folder" expand>
        <div id="folder">
          <ui-file id="folder" protocols="project" type="directory"></ui-file>
          </ui-file>
        </div>
        <div id="folder-config-container">
          <ui-button id="btn-folder-submit"></ui-button>
          <span>
            <div id="image-quality-min-label">
              Min Quality
            </div>
            <ui-slider id="image-quality-min-slider" step="0.1" value="0.6" min="0.0" max="1"></ui-slider>
          </span>
          <span>
            <div id="image-quality-max-label">
              Max Quality
            </div>
            <ui-slider id="image-quality-max-slider" step="0.1" value="0.8" min="0.0" max="1"></ui-slider>
          </span>
        </div>
      </ui-section>
    </div>
  </h1>
</div>